footer{
    width:100%;
    min-height:775px;
}
#footer-content{
    width:100%;
    min-height:270px;
    background-color: #FAF3EA;
    display:flex;
    align-items: center;
    justify-content: center;
    font-family:'poppins';
}
.content-container{
    height:100%;
    width:25%;
    display:flex;
    column-gap:10px;
    justify-content: center;
}

.content{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.lab1{
    font-weight: 600;
    font-size: 25px;
}
.lab2{
    color:#898989;
    font-size: 20px;
}
/* second-div */
.footer-container{
    display:flex;
    flex-direction: column;
    min-height:505px;
}
#footer-section{
    height:90%;
    width:100%;
    display:flex;
    padding:30px;
    box-sizing: border-box;
}
.footer-items{
    width:25%;
    height:100%;
    display:flex;
    flex-direction: column;
    padding:10px;
    box-sizing: border-box;
    justify-content: space-evenly;
    padding-top:30px;
    box-sizing: border-box;
    row-gap: 50px;
}
.my-p{
    color:#9F9F9F;
    font-size: 16px;
    padding:0;
    margin: 0;
}
#f-header,
.links-header
{
    font-size:1.5rem;
}
.links{
    display:flex;
    flex-direction: column; 
    justify-content: space-evenly;
    height:100%;
    row-gap: 50px;
}
.links a{
    color:black;
}
a:hover{
    cursor:pointer;
}
.links-header{
    color:#9F9F9F;
    font-size: 1rem;
}
h4{
    margin: 0;
    padding:0;
}
.copyright-container{
    width:100%;
    height:10%;
    display:flex;
    flex-direction: column;
    padding:30px;
    box-sizing: border-box;
}
hr{
    width:100%;
    height:1px;
    background-color:#D9D9D9;
    color:#D9D9D9;
    margin-top: 30px;
    box-sizing: border-box;
}
#p{
    font-size: 16px;
}
.links ul{
display:flex;
flex-direction: column;
padding:0;
margin: 0;
justify-content: space-around;
align-items: flex-start;
gap:50px;

}
.links ul li{
display:flex;
flex-direction: column;
padding:0;
margin: 0;
}
#f-form{
    display:flex;
    font-size: 1rem;
    gap: 10px;
}
#f-btn ,
#f-in,
#f-in2,
#f-btn2{
    background-color: transparent;
    color:black;
    font-weight: 500;
    border:none;
    border-bottom: 1px solid black;
}
#f-in::placeholder{
    font-size: smaller;
}
#f-form2{
    display: flex;
    column-gap:15px;
    width:90%;
    justify-content: center;
    align-items: center;
    display:none;
}
#f-in2 
{
width:80%;
}
.links label{
    width:100%;
}















/********************media query******************/
   @media only screen and (max-width: 600px) {
    #footer-content{
        flex-direction: column;
        min-height:528;
        row-gap:30px;
        align-items: center;
        width:100%;
        padding:20px 0px ;
        box-sizing: border-box;

    }
    .content-container{
        width:100%;
        height:25%;
        justify-content:center;
        align-items: flex;
    }
    .f-img{
        width:30%;
        height:25%;
        display:flex;
        justify-content: flex-end;
    }
    .content{
        width:70%;
    }
    .lab1{
        font-size: 1rem;
    }
    .lab2{
        font-size: 1rem;
    } 
    #f-form2{
        display:flex;
    }
    .form{
        display:none;
    }
    .footer-items{
        width:33.3%;
    }
}
@media (min-width: 601px) and (max-width: 900px) {
    #footer-content{
        flex-direction: column;
        min-height:528;
        row-gap:30px;
        align-items: center;
        width:100%;
        padding:20px 0px ;
        box-sizing: border-box;

    }
    .content-container{
        width:100%;
        height:25%;
        justify-content:center;
        align-items: flex;
    }
    .f-img{
        width:30%;
        height:25%;
        display:flex;
        justify-content: flex-end;
    }
    .content{
        width:70%;
    }
    .lab1{
        font-size: 1.5rem;
    }
    .lab2{
        font-size: 1.5rem;
    } 
    #f-form2{
        display:flex;
    }
    .form{
        display:none;
    }
    .footer-items{
        width:33.3%;
    }
   
  }

